@bl:#13100D;
@w:#ffffff;
@bc1:#423b3b;
@mc:#66c3d0;
@hc:#90D7D2;
@green3:#c4ebe3;
@red2:#f789b5;
@red:#ed6f9d;
@blue:#598dd8;
@blue2:#abedf4;
@deepblue:#5f6f93;
@m1:10px;
@m:20px;
@m2:40px;
@m3:80px;
@m4:160px;
@m250:250px;



#follower {
  position: absolute;
  top: 50%;
  left: 50%;
}
#follower #circle1 {
  position: fixed;
  background:@mc;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: 0em;
	margin-left: 0em;
	z-index: 101;
	.trans4;
}
#follower #circle2 {
	position: fixed;
	background: #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin-top: -7px;
	margin-left: -7px;
	border: 2px solid @mc;
	.trans4;
	z-index:100;
}




*{
	min-height: 0;
	min-width: 0;
	}
.vi{
	overflow: hidden;
}
body{
	min-height: 0;
	min-width: 0;
	.trans4;
	.thefont;
	overflow-x: hidden;
	
}
html{
	scroll-behavior: smooth;
}
.grey{
	color:#848484;
}
.white{
	color:#ffffff;
}
body, p{
	margin:0;
	padding: 0;
}
p, span, h1, h2, h3, div{
	&:hover{
		cursor: default !important;
	}
}
h1{
	.uppercase;
	.biggest__font;
}
img{
	.w100;
}
a{
	&:focus{
		outline: none;
	}
}
img:focus{outline: none !important;}
.num{
	.thefontNumbers;
}
.f2{
	font-size: 2rem;
}
.f{
	font-size: 22px;
}
.fs{
	font-size: 18px;
}
.fss{
	font-size: 15px;
}
.f3{
	font-size: 3rem;
}
.biggest__font{
	font-size: 4.5rem;
}
.f15{
	font-size:1.5rem;
}
.fm{
	font-size: 1.2rem;
}
.hc{
	color:@hc;
	.trans4;
}
.uppercase{
	text-transform: uppercase;
}
.white{
	color:#ffffff;
}
.w100{
	width: 100%;
}
.bold{
	font-weight: 600;
}
.rel{
	position: relative;
}
.w80{
	width: 80%;
	margin: 0 auto;
}
.positionA{
	position:absolute;
}
.column{
	display:flex;
	flex-direction: column;
}
.flex{
	display: flex;
}
input{
	&:focus{
		outline: none;
	}
}
.pad{
	padding:@m2 @m4;
}
.allcenter{
	justify-content: center;
	align-items:center;
	display: flex;
}

.green__input{
	border-bottom:2px solid @hc !important;
	color:@hc;
}
.red__input{
	border-bottom:2px solid @red !important;
	color:@red;
}

.thefont{
	font-family: 'garden.ttf';
	text-transform: none;
	.f;
}
.trans4{
	transition: .4s;
}
.thefontNumbers{
	font-family: 'diamond.ttf';
}
@font-face{
font-family: 'garden.ttf';
src: url('../fonts/garden.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
	font-family: 'diamond.ttf';
	src: url('../fonts/diamond.otf');
	font-weight: normal;
	font-style: normal;
	}
.leftW{
	width: 250px;
}

button{
	background: none;
	border: none;
	.thefont;
	font-size: 1.8rem;
	padding:0;
	&:focus{
		outline: none;
	}
}
input{
	.thefont;
}

a{
	text-decoration: none;
	color:@bl;
	width: fit-content;
	.trans4;
	&:hover{
		cursor: pointer;
	}
}
.between{
	.flex;
	justify-content: space-between;
}
.test{
	min-height: 50vh;
	width: 50vw;
	a{
		position: relative;
	}
}

#catalogBtn{
	z-index:100;
}


.wrapper__catalog{
	display: grid;
	grid-template-columns: 250px 1fr;
}
.catalog__menu__categories{
	.column;
	margin-left:@m2;
	a{
		margin-bottom:@m;
	}
}
.wrapper__catalog{
	padding-top:@m3;
}
.catalog__filter{
	margin-bottom:@m;
	svg{
		width: 10px;
	}
}

.catalog__pages{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:@m3 @m2;
	padding:@m @m2 0 0;
}
.catalog__item__name{
	.f;
	margin:15px 0;
}


.catalog__item__price{
	.f2;
	.grey;
}

.catalog__item__price__and__like{
	.flex;
	justify-content: space-between;
	svg{
		width: 30px;
	}
}
// .c1{
// 	margin-bottom:40px;
// }

.item{
	.flex;
}
.breadcrumbs{
	margin-bottom:@m ;
	svg{
		width: 10px;
	}
}

.item__props{
	margin-left:@m2;
	flex:1;
	.column;
	svg{
		width: 20px;
	}
}
.item__wrapper{
	.pad;
	.rel;
}
.item__name{
	.f15;
	margin-top:0;
	margin-bottom: 0;
	.uppercase;	
}

.dreambox{
	.trans4;
	.positionA;
	left: 130%;
    width: 100px !important;
		top: -100%;
		opacity: 0;
}
.articul__and__like{
	.heart{
		width: 40px;
		.cls-1{
			.trans4;
			&:hover{
				fill:@mc;
			}
		}
	}
	justify-content: space-between;
	.flex;
	align-items: flex-start;
}
.filled__heart{
	.cls-1{
		fill:@mc !important;
	}
}
.item__art{
	.grey;
	margin-right:5px;
}
.item__price{
	.f3;
	margin:0 0 @m 0;
	color:@blue;
}
.size__select{
	margin-bottom:@m2;
	option{
		.f2;
		.num;
	}	
}
.item__quantity{
	.flex;
	.num;
	.f2;
}
.lh{
	line-height: 42px;
}
#item__color, .item__material span:last-child{
	.f15;
}
.item__color__n{
	.fs;
}

.item__material, .item__description{
	margin-bottom:@m2;
}
.item__description{
	width: 70%;
}
.header__icons{
	padding-right:@m2;
	.flex;
	align-items: center;
	svg{
		width: 25px;
	}
	a{
		margin-left:10px;
	}
}
header{
	background-color: #66c3d0;
	min-height: 100px;
	.flex;
	align-items: center;
	.between;
	.cls-1{
		fill:#ffffff;
		stroke:none !important;
	}
}
.logo__div{
	margin:20px 30px;
	img{
		width: 70px;
	}
}
.item__quantity__div{
	position: relative;
	margin-left:@m;
	span, input{
		z-index:2;
	}
}
.search{
	.allcenter;
	min-height: calc(100vh - @m2 * 2);
}
.header__menu{
	.column;
	margin-left:@m3;
	justify-content: center;
	min-height: calc(100vh - @m2 * 2);
	a{
		.uppercase;
		font-size: 4rem;;
		margin-bottom:@m;
		color:@w;
		.trans4;
		&:hover{
			color:@bl;
		}
	}
}
.item__quantity__div__back{
	position: absolute;
	width: 60px !important;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
.cls-1{
	fill: #79cbd6;
}
}
.catalog__item__heart{
	.cls-1{
		fill:@red;
	}
}
#which__size{
	// margin-top:-20px;
	margin-bottom:@m2;
	.rel;
	.flex;
	align-items: flex-end;
	width: fit-content;
	p{
		.uppercase;
	}
	.green__line{
		position: absolute;
		width: 72%;
		bottom:-5px;
	}
	img{
		width: 40px;
	}
}
.green__line{
	.cls-1{
		fill:#79cbd6 !important;
	}
}


.size__choosing__label{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px dashed @bl;
	margin:5px 0px;
}
.size__choosing__label input{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
	z-index:100;
}
.size__choosing__label__first{
	position: relative;
	z-index:3;
}
.rotate__ad{
	transform:rotateX(180deg);
}
.size__choosing__hidden__block{
	display: none;
}
.size__choosing__wrapper{
	margin-bottom:@m;
}
.item__size__div__back{
	position: absolute;
	width: 200px !important;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:2;
	.cls-1{
		fill:@mc;
	}
}
.size__choosing__div{
	position: relative;
	margin-left: @m;
}
.ruler{
	height: 40px;
	margin-left:@m;
	cls-1{
		fill:none !important;
	}
	.cls-2 {
    fill: #272525 !important;
}
}
.basket__wrapper{
	padding:@m2 @m4;
	.item__quantity__div{
		margin-left:0;
	}
	h1{
		.uppercase;
	}
}
.bakset__h1{
	.flex;
	justify-content: space-between;
	svg{
		width: 50px;
	}
}
.basketbasket{
	.cls-1{
		fill:#66c3d0 !important;
	}
}
.bakset__items__names{
	.flex;
	margin-top:@m2;
	.uppercase;
}
.half{
	flex:1;
}
.second__half{
	margin-left:@m2;
	.flex;
	justify-content: space-between;
	svg{
		width: 30px;
	}
	div{
		flex:1;
		.allcenter;
	}
	.big__half{
		flex:3;
	}
	.item__quantity{
		.f2;
		margin:0 @m1;
	}
}
.center__a{
	.flex;
	align-items: center;
	span{
		.trans4;
		&:hover{
			color:@mc;
		}
	}
}
.half{
	.flex;
	align-items:center;
	img{
		width: 12vw;
	}
}
.basket__item__name{
	.fs;
	margin-left:@m;
}
.basket__items{
	margin-bottom:@m3;
}
.item__sum{
	.f2;
}
.bakset__items__check{
	margin-top:@m;
	.green__line{
		.w100;
	}
	
}
.basket__item{
	.flex;
	.w100;
	margin-bottom:@m;
}
.basket__delete__btn{
	.cls-1{
		fill:#57585b;
	}
}
.basket__total{
	.between;
}
#promocodeValue{
	border:none;
}
.promo__div{
	.column;
	svg{
		margin:5px 0 0 0 !important;
		.w80;
	}
}
#insert__promocode{
	opacity: 0;
	font-size: 18px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;	
}
.total{
	.uppercase;
	.f2;
}
.total__div{
	.column;
	svg{
		margin-top:@m1;
	}
	.cls-1{
		fill:@red2 !important;
	}
}
#which__size{
	.giraffe{
		width: 40px;
		.cls-1{
			fill:#5f6f93;
		}
	}
}
.read__about{
	line-height: 10px;
	.uppercase;
	width: fit-content;
	font-size: 1.3vw;
	svg{
		width: auto;
	}
}
.basket__btn__div{
	.rel;
	.allcenter;
	width: fit-content;
	margin:@m3 auto 0;
	button{
		z-index: 2;
		.uppercase;
		margin-top:10px;
		font-size: 2rem;
	}
	.svg__catalog__btn{
		fill:white;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -18%);
		&:hover{
			animation: dashBig 2s linear forwards;
		}
	}
	.basketbtnborder{
		z-index: 1;
		position: absolute;
		width: 115px;
		.trans4;
		overflow: visible;
		}
}
	@keyframes dashBig {
		to {
			stroke-dashoffset: 0;
			fill : #66c3d0;
			opacity: 1;
		}
	}
	@keyframes dashSmall {
		to {
			stroke-dashoffset: 0;
			fill : #66c3d0;
			opacity: 1;
		}
	}
	
	
.dash{
	animation: dash .6s forwards;
}
.removedash{
	animation: removedash .6s forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes removedash {
	from{
		stroke-dashoffset: 0;
	}
  to {
    stroke-dashoffset: 208;
  }
}
.small__ring{
	stroke:@w;
	stroke-dasharray: 873;
			stroke-dashoffset: 873;
			stroke-width: 4px;
}
.big__ring{
	stroke-dasharray: 2492;
	stroke-dashoffset: 0;
}
.cls-circle{
	stroke-dasharray: 208;
	stroke-dashoffset: 208;
	stroke:@bl;
	fill:none !important;
}

.order__wrapper{
	margin-bottom:100px !important;
	padding:@m2 @m4;
	.basket__btn__div{
		margin-bottom:100px !important;
	}
	.svg__catalog__btn{
		transform: translate(-47%, -18%);
	}
	.basket__btn__div .basketbtnborder{
		width: 130px !important;
	}
	.giraffe{
		.cls-1{
			stroke-width: 2px !important;
		}
	}
}
.order__h1{
	.w100;
	align-items: flex-start;
	.between;
	
	svg{
		width: 50px;
	}
}
.order__block{
	.arrow{
		width: 40px;
		&:first-child{
			transform: rotateZ(180deg);
		}
		.cls-1{
			fill:@bl;
			stroke-width: .3px !important;
		}
	}
	.column;
	label{
		transform: translateY(22px);
		.trans4;
	}
	input{
		z-index: 2;
		height: 25px;
		background:none;
	}
	h2, h3{
		.uppercase;
		text-align: center;
	}

	margin:0 auto;
	input{
		border:none;
	}
	.green__line{
		.cls-1{
			stroke:none !important;
		}	
	}
}
.error__sign{
	opacity: 0;
}
.delivery__type__choosing{
	.flex;
	align-items: baseline;
	justify-content: center;
	margin:0 @m1;
	h3{
		margin:0 @m;
		font-size: 16px;
	}
}
.order__type__h2{
	.flex;
	.between;
	align-items: baseline;
		margin: 0 auto @m;
		a{
			.uppercase;
		}
}
.order__data, .delivery__data{
	width: 50%;
	margin:0 auto @m2;
}
.delivery__pickup{
	display: none;
}
.current__size{
	.rel;
	.flex;
}
.other__sizes{
	 background: #66c3d0;
    border-radius: 10px;
    border: 1px dashed;
    z-index: 1;
		position: absolute;
		top:45px;
		padding: 10px;
		left:-10px;
		.fs;
		.w100;
		display: none;
		.active{
			color:@w;
		}
}

.showSizesBlock{
	display: block;
	animation: showSizesBlock .5s forwards;
}
@keyframes showSizesBlock{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.current__size__text{
	z-index:4;
	.rel;	
}
.item__quantity__div__back{
	.cls-1{
		fill:@mc;
	}
}
.about__block{
	align-items: baseline;
	.whale{
		width: 40px !important;
		margin-left:@m1;
	}
}

.about__delivery__popup{
	position: fixed;
	left:-1000px;
	top:10%;
	background-color:@w;
	min-height: 70vh;
	padding:@m2;
	width: 40vw;
	z-index: 4;
	-webkit-box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
}
.showPopUp{
	animation:showPopUp .7s forwards ease-in;
}
@keyframes showPopUp{
	70%{
		left:20px;
	}
	80%{
		left:-10px;
	}
	90%{
		left:10px;
	}
	100%{
		left:0;
	}
}
.hidePopup{
	animation:hidePopup .7s forwards ease-in;
}
.showBasic{
	animation: showBasic .5s forwards ease-in;
}
@keyframes showBasic{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes hidePopup{
	0%{
		left:0;
	}
	100%{
		left:-1000px;
	}
}
.block{
	flex:1;
	.slider-for-item-card{
		.w100;
		img{
			.w100;
			margin-bottom:@m1;
		}
	}
	.slider-nav-item-card{
		.w100;
		img{
			margin:0 5px;
		}
	}
}
.slider-for-item-card{
	width: 400px;
}

.item__slider__arrows{
	margin-top:@m1;
	.between;
	div{
		width: 60px;
		transform: translateX(20px);
		&:first-child{
			transform: translateX(-20px);
		}
	}
}
.prev__item__card{
	.arrow{
		transform: rotateZ(180deg);
		.cls-1{
			fill:@bl;
		}
	}
}
.checking__order__block{
	margin-top:@m3;
}
.checking__order__block__sign{
	.between;
	.lamb{
		width: 50px;
	}
	h2{
		.uppercase;
		.f15;
		margin-bottom:5px;
	}
	div{
		.column;
		.green__line{
			margin-bottom:5px;
			.cls-1{
				fill:@red !important;
			}
		}	
	}
}
.checking__order{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:@m2 @m;
	padding-top:@m;
}
.order__item{
	img{
		.w100;
	}
	span, p{
		.fs;
	}
	.order__price{
		.f;
		color:@blue;
	}
}
.order__item__name, .order__item__quantity{
	margin-bottom:5px;
}
.order__item__size{
	margin-bottom: -5px;
}
.order__btn{
	.f !important;
}
.payment__type__p, .delivery__type__p{
	.uppercase;
}

.menu__btn{
	width: 40px !important;
	margin-left:@m1;
	.cls-2 {
		fill: #ffffff;
		stroke:none;
	}	
	circle{
		fill:@mc;
		
	}
	.lower__stick, .higher__stick{
		z-index:2;
	}
	.smaller__circle{
		fill:@mc;
		.trans4;
		
	}
}
.w{
	fill:@w !important;
}
.move__stick{
	fill:@mc !important;
			transform: rotateZ(45deg);
			transform-origin: center;
}

.bigger__circle{
	fill:@mc;
}	

.sliding__menu{
	display: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top:0;
	left:100vw;
	background:@mc;
	z-index:5;
	.basket__delete__btn{
		width: @m2;
		float:right;
	}
}
.sliding__search{
	display: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top:-100vh;
	left:0;
	background:@mc;
	z-index:6;
	transition:1s;
	.basket__delete__btn{
		width: @m2;
		float:right;
	}
	button{
		.uppercase;
		margin-left:@m;
		margin-top:3px;
		.f3;
	}
	form{
		align-items: baseline;
	}
	input{
		outline: none;
    border: none;
		background: none;
		.f2;
	}
	.cls-1{
		fill:@bl !important;
	}
	.green__line{
		width: 50vw;
	}
}
.sliding__menu__wrapper{
	margin:@m2;
}
.sliding__menu__animation{
	animation: sliding__menu__animation .5s forwards ease-in;
}
.sliding__menu__animation__hide{
	animation: sliding__menu__animation__hide .3s forwards ease-out;
}
.search__menu__animation{
	animation: search__menu__animation .5s forwards ease-in;
}
.search__menu__animation__hide{
	animation: search__menu__animation__hide .3s forwards ease-out;
}
@keyframes sliding__menu__animation{
	60%{
		left:90vw;
	}
	100%{
		left:0;
	}
}

@keyframes sliding__menu__animation__hide{
	from{
		left:0;
	}
	to{
		left:100vw;
	}
}
@keyframes search__menu__animation{
	60%{
		top:-90vh;
	}
	100%{
		top:0;
	}
}

@keyframes searh__menu__animation__hide{
	from{
		top:0;
	}
	to{
		top:-100vh;
	}
}

@keyframes birdGoes{
	0%{
		transform: translateX(-2vw);
	}
	25%{
		transform: translateX(31vw);
	}
	26%{
		transform: translateX(31vw) rotateZ(90deg);
	}
	50%{
		transform: translateX(31vw) translateY(34vw) rotateZ(90deg);
	}
	51%{
		transform: translateX(31vw) translateY(34vw) rotateZ(180deg);
	}
	
	75%{
		transform: translateX(-3vw) translateY(34vw) rotateZ(180deg);
	}
	76%{
		transform: translateX(-3vw) translateY(34vw) rotateZ(270deg);
	}
	90%{
		transform: translateX(-3vw) translateY(0) rotateZ(270deg);
	}
	100%{
		transform:translateX(-3vw) translateY(0);
	}
}
@keyframes wing{
	50%{
		transform: translateY(0px) rotateZ(5deg);
	}
	100%{
		transform: translateY(0px) rotateZ(0deg);
	}
}
.wing{
	animation:wing 4s linear infinite;
	transform-origin: right;	
}
#to__basket{
	color:@bl;
	z-index:5;
}
// svg styles
.catalog__img{
	.cls-1{fill:#fff;}
	.cls-2{fill:#485a83;}
	.cls-3{fill:#5f6f93;}
	.cls-4,.cls-5,.cls-6{fill:none;stroke:#000;stroke-miterlimit:10;}
	.cls-5{stroke-dasharray:20.58 20.58;}
	.cls-6{stroke-dasharray:20;}
}

.footer__link__duck{
	cls-1{fill:#66c3d0;}
	.cls-2{fill:#fff;}
}
.bird{
	width: 40px;
	animation:birdGoes 90s linear infinite;
	transform: translateX(-3vw);
	.cls-1, .cls-2{
		fill:@deepblue;
	}
}

.heart{
	.cls-1{
		fill:@red;
	}
}
.circus__elephant{
	transform: translateX(-20px) translateY(4px);
	.cls-1{
		fill:@deepblue;
	}
	.cls-2{
		fill:@deepblue;
	}
	.cls-3{
		fill:@deepblue;
	}
}
.about__heart{
	.cls-1{
		fill:@red;
	}
}
.call__a__bird{
	cls-1{
		fill:@bl;
	}
}
.ball{
	.cls-1{
		fill:@w;
	}
	.cls-2{
		fill:@red;
	}
	.cls-3{
		fill:none;
		stroke:@red;
	}
}
header{
	.heart{
		.cls-1{
			fill:none;
		}
	}
	.cls-2{
		fill:@w;
	}
}
.geo{
	.cls-1{
		fill:@mc;
	}
	.cls-2{
		fill:none;
		stroke:@mc;	
	}
}

.cls-n{
	fill:none;
}
.giraffe, .whale{
	.cls-1{fill:#485a83;}
	.cls-2{fill:#5f6f93;}
}
@mi:250px;
.catalog__left__part{
	.catalog__img{
		width: 60%;
		margin-left:20%;
		path{
			.trans4;
		}
	}
}
#what__size__should{
	width: 60vw;
	min-height: 10vh;
	background:@blue;
	margin-top:300px;
}
.info__header{
	margin-left:@mi;
	margin-right:@mi;
	margin:@m2 @mi @m;
	.between;
	svg{
		width: @m3;
	}
}
.info__wrapper{
	display: grid;
	grid-template-columns: 250px 1fr;
	a{
		margin-left:@m2;
	}
}
.info__menu{
	.column;
	.rel;
	.green__line{
		position: absolute;
    width: 70px;
    left: 40px;
		top: 22px;
		transition: .2s;
	}
	a{
		.uppercase;
		margin-bottom: @m;
	}
}
.info__text{
	padding-right: @mi;
}

.info__text{
	.rel;
}
.info__text p {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 4;
	transition: .4s;
	width: calc(100% - @mi);
	&:first-child{
		opacity: 1;
	}
}
.dreambox{
	.cls-1{fill:#1d1d1b;}
}
.connect__link{
	.positionA;
	top: -20%;
	right: 12%;
	.trans4;
	&:hover{
		transform: translateY(-7px);
	}
		svg{
			width: 15vw;
		}
	}
footer{
	width: 100%;
	min-height:35vh;
	background: @mc;
	padding:@m2;
	.flex;
	.rel;
	.cls-2{
		fill:@w;
	}
	.footer__link{
		width: 200px;
		position: absolute;
		&:hover{
			animation-play-state: paused; 
		}
	}
}

.link__back{
	.cls-1{
		.trans4;
		
	}
}
.cls-1-back{
	.trans4;
	fill:@mc;
}
.filled{
	fill:@mc;
}

.footer__link{
	
	transform: rotateZ(0);
	z-index:2;
	.rel;
}
.rotate__me__totally{
	animation:rotateMeTotally 10s linear infinite;
}
@keyframes rotateMeTotally{
	to{
		transform:rotate(360deg);
	}
}
.footer__link__duck{
	width: 200px;
	.rel;
	z-index:1;
}

.contacts{
	.geo{
		width: 40px;
	}
}
.geo__info{
	min-height: 60vh;
	.flex;
}
.geo__info__contacts{
	flex:1;
	.column;
	justify-content: center;
	background:@green3;
	padding:5vw;
}
.geo__info__map{
	flex:3;
}
.map{
	width: 100%;
	height: 62vh;
	border:none;
}
.map__line{
	height: 61vh;
}
.footer__part{
	.column;
	.between;
	flex:1;
	a{
		.white;
	}
}
.footer__icons{
	svg{
		width: 30px;
		.cls-1{
			fill:@w;
			stroke:none;
		}
		.cls-3{
			fill:@w;
			stroke:none;
		}
	}
}
.footer__part__center{
	align-items: center;
}
.phone__email{
	a{
		margin-bottom:@m;
	}
}
.footer__links{
	.flex;
	justify-content: center;
	align-items: center;
}
.footer__part__right{
	justify-content: center;
}

.lets__talk{
	padding:@m3 20%;
	background: @green3;
	min-height: calc(100vh - 100px);
	h1{
		.biggest__font;
	}
	.basket__btn__div{
		margin-bottom: @m2;
	}
}
.lets__talk__first, .lets__talk__second{
	.flex;
}
.lets__talk__first, .lets__talk__second{
	margin-bottom:@m2;
	align-items: center;
	justify-content: space-between;
	p{
		flex-basis: 70%;
	}
	svg{
		width: 120px;
	}
}
.lets__talk__second{
	svg{
		width: 200px;
		transform:rotateY(180deg)
	}
}
.popular__instagram{
	background: @blue2;
	padding:@m2 0;
	h2{
		margin-bottom:0;
		margin-top:0;
	}
}
.white__block__main{
	padding:@m2 20%;
	h2{
		margin-bottom:0;
	}
}
.popular__slider__wrapper{
	margin-top:@m;
	.arrow{
		width: 60px;
		.cls-1{
			fill:@bl;
		}
	}
}
.green__line{
	overflow: visible;
}
.show__about{
	animation:showabout 3s forwards;
}
@keyframes showabout{
	to{
		opacity: 1;
	}
}
.error__sign{
	.fss;
	color:@red;
}
.popular__slider{
	.catalog__item__name{
		.fss;
	}
	.catalog__item__price{
		.fs;
	}
	.heart{
		width: 20px;
	}
}
.slider__wrapper{
	.rel;
	.prev__item__card , .next__item__card{
		position: absolute;
		top:50%;
	}
	.prev__item__card{
		left:-80px;
	}
	.next__item__card{
		right:-80px;
	}
}
.ad{
	width: 15px !important;
	z-index: 5;
}
.main__popular .c1{
	margin:5px;
}
.instagram__slider{
	display: grid;
	grid-gap:@m;
	grid-template-columns: repeat(3,1fr);
	margin-top:@m;
}
.main__about__wrapper{
	h2{
		.biggest__font;
		text-align: center;
		margin:@m4;
	}
}
.main__about{
	width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 160px 20px;
    padding: 0 10% 250px;
    background-image: url(/images/svg/mainback.svg);
    background-repeat: no-repeat;
    background-size: 70%;
}
.about__us{
	opacity: 0;
	text-align: center;
	h3{
		.f3;
		margin-bottom: 0;
	}
}
.slider__main{
	height: calc(100vh - 100px);
	overflow: hidden;
	.allcenter;
}
.lk__wrapper{
	width: 80%;
	padding:@m4 10%;
}
.lk__promocodes{
	.column;
	span{
		margin-bottom:10px;
	}
}
.personal__data{
	margin-left:-@m;
	form{
		.flex;
	}
	.form__part{
		flex:1;
		.column;
		padding:@m;
		input{
			border:none;
			z-index: 2;
    height: 25px;
    background: none;
		}
		.green__line{
			margin-bottom:@m;
			overflow: visible;
			.cls-1{
				stroke-width: 0px;
			}
		}
	}
}
.lk__prop{
	.fs;
}
.lk__footer{
	.flex;
	margin-top:@m3;
	padding:0;
	div{
		flex:1;
	}
}
.update__data{
	margin-left:@m2;
}

.form__part__h2{
	.flex;
	h2{
		.uppercase;
		margin:0 0 @m2 10px;
	}
	svg{
		height: 25px;	
	}
}

#error__validation{
	font-size:12px;
	opacity: 0;
	color:@red;
}
#logout{
	.column;
	.uppercase;
	.f2;
	.green__line{
		width: 30%;
    overflow: visible;
		margin-bottom: 5px;
		stroke:@red;
		fill:@red;
	}
}

.logout__icon{
	width: 20px;
	.cls-1{
		fill:@mc;
	}
	overflow:visible;
}
.rotate__me__totally{
	.cls-1{
		fill:@mc;
	}
}
#submit__lk__form{
	.f2;
	.uppercase;
}

.about__wrapper{
	padding:@m3 @m4;
	.bearhead{
		width: 10%;
	}
	h1{
		font-size: 12vw;
		margin:0;
	}
	.giraffe{
		width: 20%;
		margin-left:40%;
	}
	.call__a__bird{
		width: 220px;
	}
}
.about__first{
	.flex;
	align-items: center;
}
.about__first__text{
	.column;
	flex:2;
	margin-right:@m3;
}
.about__first__img{
	flex:1;
}
.elephant__goes{
	.w100;
	.column;
	margin-top:@m2;
	animation:elephant 10s linear infinite;
	div{
		.allcenter;
		.column;
		width: fit-content;
	}
	.circus__elephant{
		width: 120px;
		z-index: 2;
		margin-left:60px;
		// animation:turn 10s linear infinite;
		transform-origin: center;
	}
	.ball{
		width: 60px;
		z-index: 1;
		animation:ball 10s linear infinite;
	}
}
@keyframes turn{
50%{
	transform:rotateY(180deg);
	
}
100%{
	transform: rotateY(0);
}
}
@keyframes elephant{
	50%{
		transform:translateX(90%);
	}
	100%{
		transform:translateX(0);
	}
}
@keyframes ball{
	
	50%{
		transform: rotateZ(720deg);
	}
	100%{
		transform: rotateZ(0deg);
	}
}
.about__second__sign{
	float: right;
	margin:@m3 0;
	.column;
	align-items: flex-end;
	h2{
		font-size: 10vw;
		margin:0;
	}
}
.about__second{
	.flex;
	.w100;
}
.about__third{
	margin-top:@m4;
	margin-bottom:@m3;
	.column;
	h2{
		font-size: 12vw;
		margin:0;
		width: fit-content;
	}
}
.about__second__img{
	flex:1;
	margin-right: @m2;
	img{
		width:30vw;
	}
}
.about__second__text{
	flex:2;
	.column;
	justify-content: space-around;
	margin-left:@m3;
}
.about__third__top__sign{
	.between;
	padding-left:10px;
	.about__heart{
		width: 80px;
	}
}

.callabird{
	position: relative;
	.allcenter;
	svg{
		position: absolute;
	}
}

.learn__about__wrapper{
	.flex;
	align-items: center;
	svg{
		width: 10px !important;
	}
	p{
		border-bottom:1px dotted @bl;
		&:hover{
			cursor: pointer;
		}
	}
}
#learn__more__sign{
	margin-right: 5px;
	.fs;
}
.learn__about__block{
	margin-right: @m2;
	.flex;
	img{
		flex:1;
		margin-right: @m;
	}
		p{
			flex:2;
			.fs;
		}
}
.learn__about{
	.basket__delete__btn{
		width: 20px;
		float:right;
	}
	.trans4;
	position: fixed;
	left:-1000px;
	background-color:@w;
	padding:@m2;
	width: 40vw;
	min-height: 40vh;
	z-index: 4;
	-webkit-box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 6px 8px 0px rgba(34, 60, 80, 0.2);
	top:40%;
	h2{
		margin:0 0 10px 0;
		 .uppercase;
	}
}
#learn__less__sign{
	margin-right: 5px;
}
.learn__less svg{
	transform: rotateZ(180deg);
}
.learn__less{
	margin-top:@m1;
}

.interesting__slider ,.earlier__slider{
	.c1{
		margin:0 10px;
		.catalog__item__name{
			.fss;
		}
		.catalog__item__price{
			.fs;
		}
		.catalog__item__price__and__like svg{
			width: 20px;
		}
	}
}
.interesting__slider__full{
	.rel;
}
.interesting__arrow__left, .interesting__arrow__right, .earlier__arrow__left, .earlier__arrow__right{
	position: absolute;
	top:25%;
	.arrow{
		width: 60px;
	}
}
.interesting__arrow__left, .earlier__arrow__left{
	left:-60px;
	transform:rotateZ(180deg)
}
.interesting__arrow__right, .earlier__arrow__right{
	right:-60px;
}
.interesting{
	.uppercase;
	.f15;
	margin-left:10px;
}
.interesting__sign{
	.between;
	align-items: baseline;
	margin-top:@m4;
	.giraffe{
		width: 50px;
		margin-right:10px;
	}
	.circus__elephant{
		width: 80px;
		transform:rotateY(180deg);
	}
}
#showMore{
	margin:@m3 auto @m4;
}
#payment__attention {
	width: 60%;
	margin:0 auto;
	opacity: 0;
	p{
		text-align: center;
		.uppercase;
		color:@red;
		.fs;
		
	}
}
.connect{
	.cls-1{fill:#62bfa7;}.cls-2{fill:#fff;}
}
.instagram__block{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}
.instagram__text{
	opacity: 0;
	h3{
		.f15;
		margin:0;
	}
	p{
		.fs;
	}
}
.instagram__text{
	padding:@m;
	opacity: 0;
}
.m25{
	margin-left:25%;
}
.instagram__texts{
	display:grid;
	grid-template-rows: repeat(3,1fr);
}
.main_instagram{
	.m25{
		.uppercase;
	}
	h2{
		.f3;
	}
}

.reg__wrapper{
	.allcenter;
	min-height: 80vh;
	.order__wrapper{
		padding:0;
		margin-bottom:0;
	}
}
.reg__window__menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin:0;
}

.reg__form {
  display: flex;
  flex-direction: column;
  transition: .4s;
}
.reg__form:last-child {
  display: none;
}
.reg__form label {
  transform: translateY(22px);
  transition: .4s;
}
.reg__form input {
  margin-bottom: 0;
}
.reg__window {
  width: 15%;
  min-width: 215px;
}
.reg__window button {
  font-size: 1.5rem;
}
.reg__window hr {
  margin: 4px 5px;
  width: 1px;
  background: black;
  border: none;
}
.reg__window__form label {
	font-size: 12px;
}
.reg__window__form{
	input{
		border:none;
		z-index: 5;
		background:none;
	}
}
#error__validation_pas{
	opacity: 0;
}
.auth__error__validation{
	opacity: 0;
	color:@red;
	.fss;
}
.form__type{
	.uppercase;
}
