@bl:#13100D;
@w:#ffffff;
@bc1:#423b3b;
@mc:#66c3d0;
@hc:#90D7D2;
@red2:#f789b5;
@red:#ed6f9d;
@blue:#598dd8;
@m1:10px;
@m:20px;
@m2:40px;
@m3:80px;
@m4:160px;
@m250:250px;
*{
	min-height: 0;
	min-width: 0;
	}

body{
	min-height: 0;
	min-width: 0;
	.trans4;
	.thefont;
	overflow-x: hidden;
}
.grey{
	color:#848484;
}
.white{
	color:#ffffff;
}
body, p{
	margin:0;
	padding: 0;
}
h1{
	.uppercase;
}
img{
	.w100;
}
.num{
	.thefontNumbers;
}
.f2{
	font-size: 2rem;
}
.f{
	font-size: 22px;
}
.fs{
	font-size: 18px;
}
.f3{
	font-size: 3rem;
}
.f15{
	font-size:1.5rem;
}
.fm{
	font-size: 1.2rem;
}
.hc{
	color:@hc;
	.trans4;
}
.uppercase{
	text-transform: uppercase;
}
.white{
	color:#ffffff;
}
.w100{
	width: 100%;
}
.bold{
	font-weight: 600;
}
.rel{
	position: relative;
}
.w80{
	width: 80%;
	margin: 0 auto;
}
.positionA{
	position:absolute;
}
.column{
	display:flex;
	flex-direction: column;
}
.flex{
	display: flex;
}
input{
	&:focus{
		outline: none;
	}
}
.pad{
	padding:@m2 @m4;
}
.allcenter{
	justify-content: center;
	align-items:center;
	display: flex;
}

.green__input{
	border-bottom:2px solid @hc !important;
	color:@hc;
}
.red__input{
	border-bottom:2px solid @red !important;
	color:@red;
}

.thefont{
	font-family: 'garden.ttf';
	text-transform: none;
	.f;
}
.trans4{
	transition: .4s;
}
.thefontNumbers{
	font-family: 'diamond.ttf';
}
@font-face{
font-family: 'garden.ttf';
src: url('../fonts/garden.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
	font-family: 'diamond.ttf';
	src: url('../fonts/diamond.otf');
	font-weight: normal;
	font-style: normal;
	}
.leftW{
	width: 250px;
}

button{
	background: none;
	border: none;
	.thefont;
	font-size: 1.8em;
	padding:0;
}
input{
	.thefont;
}

a{
	text-decoration: none;
	color:@bl;
	width: fit-content;
	.trans4;
	&:hover{
		cursor: pointer;
	}
}
.between{
	.flex;
	justify-content: space-between;
}
.test{
	min-height: 50vh;
	width: 50vw;
	a{
		position: relative;
	}
}

#catalogBtn{
	z-index:100;
}


.wrapper__catalog{
	display: grid;
	grid-template-columns: 250px 1fr;
}
.catalog__menu__categories{
	.column;
	margin-left:@m2;
	a{
		margin-bottom:@m;
	}
}
.wrapper__catalog{
	padding-top:@m3;
}
.catalog__filter{
	margin-bottom:@m;
	svg{
		width: 10px;
	}
}

.catalog__pages{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:@m3 @m2;
	padding:@m @m2 0 0;
}
.catalog__item__name{
	.f;
	margin:15px 0;
}


.catalog__item__price{
	.f2;
	.grey;
}

.catalog__item__price__and__like{
	.flex;
	justify-content: space-between;
	svg{
		width: 30px;
	}
}
// .c1{
// 	margin-bottom:40px;
// }

.item{
	.flex;
}
.breadcrumbs{
	margin-bottom:@m ;
	svg{
		width: 10px;
	}
}

.item__props{
	margin-left:@m2;
	flex:1;
	.column;
	svg{
		width: 20px;
	}
}
.item__wrapper{
	.pad;
	.rel;
}
.item__name{
	.f15;
	margin-top:0;
	margin-bottom: 0;
	.uppercase;	
}
.articul__and__like{
	svg{
		width: 40px;
	}
	justify-content: space-between;
	.flex;
	align-items: flex-start;
}
.item__art{
	.grey;
	margin-right:5px;
}
.item__price{
	.f3;
	margin:0 0 @m 0;
	color:@blue;
}
.size__select{
	margin-bottom:@m2;
	option{
		.f2;
		.num;
	}	
}
.item__quantity{
	.flex;
	.num;
	.f2;
}
.lh{
	line-height: 42px;
}
#item__color, .item__material span:last-child{
	.f15;
}
.item__color__n{
	.fs;
}

.item__material, .item__description{
	margin-bottom:@m2;
}
.item__description{
	width: 70%;
}
.header__icons{
	padding-right:@m2;
	.flex;
	align-items: center;
	svg{
		width: 25px;
	}
	a{
		margin-left:10px;
	}
}
header{
	background-color: #66c3d0;
	min-height: 100px;
	.flex;
	align-items: center;
	.between;
	.cls-1{
		fill:#ffffff;
		stroke:none !important;
	}
}
.logo__div{
	margin:20px 30px;
	img{
		width: 70px;
	}
}
.item__quantity__div{
	position: relative;
	margin-left:@m;
	span, input{
		z-index:2;
	}
}
.header__menu{
	.column;
	margin-left:@m3;
	justify-content: center;
	min-height: calc(100vh - @m2 * 2);
	a{
		.uppercase;
		font-size: 4rem;;
		margin-bottom:@m;
		color:@w;
		.trans4;
		&:hover{
			color:@bl;
		}
	}
}
.item__quantity__div__back{
	position: absolute;
	width: 60px !important;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
.cls-1{
	fill: #79cbd6;
}
}
.catalog__item__heart{
	.cls-1{
		fill:@red;
	}
}
#which__size{
	// margin-top:-20px;
	margin-bottom:@m2;
	.rel;
	.flex;
	align-items: flex-end;
	width: fit-content;
	p{
		.uppercase;
	}
	.green__line{
		position: absolute;
		width: 72%;
		bottom:-5px;
	}
	img{
		width: 40px;
	}
}
.green__line{
	.cls-1{
		fill:#79cbd6 !important;
	}
}
.size__choosing__hidden__block{

}

.size__choosing__label{
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:1px dashed @bl;
	margin:5px 0px;
}
.size__choosing__label input{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
	z-index:100;
}
.size__choosing__label__first{
	position: relative;
	z-index:3;
}

.size__choosing__hidden__block{
	display: none;
}
.size__choosing__wrapper{
	margin-bottom:@m;
}
.item__size__div__back{
	position: absolute;
	width: 180px !important;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:2;
	.cls-1{
		fill:@mc;
	}
}
.size__choosing__div{
	position: relative;
	margin-left: @m;
}
.ruler{
	height: 40px;
	margin-left:@m;
	cls-1{
		fill:none !important;
	}
	.cls-2 {
    fill: #272525 !important;
}
}
.basket__wrapper{
	padding:@m2 @m4;
	.item__quantity__div{
		margin-left:0;
	}
	h1{
		.uppercase;
	}
}
.bakset__h1{
	.flex;
	justify-content: space-between;
	svg{
		width: 50px;
	}
}
.basketbasket{
	.cls-1{
		fill:#66c3d0 !important;
	}
}
.bakset__items__names{
	.flex;
	margin-top:@m2;
	.uppercase;
}
.half{
	flex:1;
}
.second__half{
	margin-left:@m2;
	.flex;
	justify-content: space-between;
	svg{
		width: 30px;
	}
	div{
		flex:1;
		.allcenter;
	}
	.big__half{
		flex:3;
	}
	.item__quantity{
		.f2;
		margin:0 @m1;
	}
}
.half{
	.flex;
	align-items:center;
	img{
		width: 12vw;
		margin-left:@m;
	}
}
.basket__item__name{
	.fs;
}
.basket__items{
	margin-bottom:@m3;
}
.item__sum{
	.f2;
}
.bakset__items__check{
	margin-top:@m;
	.green__line{
		.w100;
	}
	
}
.basket__item{
	.flex;
	.w100;
	margin-bottom:@m;
}
.basket__delete__btn{
	.cls-1{
		fill:#57585b;
	}
}
.basket__total{
	.between;
}
#promocodeValue{
	border:none;
}
.promo__div{
	.column;
	svg{
		margin:5px 0 0 0 !important;
		.w80;
	}
}
#insert__promocode{
	opacity: 0;
	font-size: 18px;
    margin-top: 10px;
    text-align: left;
    text-transform: uppercase;	
}
.total{
	.uppercase;
	.f2;
}
.total__div{
	.column;
	svg{
		margin-top:@m1;
	}
	.cls-1{
		fill:@red2 !important;
	}
}
#which__size{
	.giraffe{
		width: 40px;
		.cls-1{
			fill:#5f6f93;
		}
	}
}
.read__about{
	line-height: 10px;
	.uppercase;
	width: fit-content;
	font-size: 1.3vw;
	svg{
		width: auto;
	}
}
.basket__btn__div{
	.rel;
	.allcenter;
	margin-top:@m3;
	button{
		z-index: 2;
		.uppercase;
		margin-top:10px;
		font-size: 2rem;
	}
	.svg__catalog__btn{
		fill:white;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -18%);
		&:hover{
			animation: dashBig 2s linear forwards;
		}
	}
	.basketbtnborder{
		z-index: 1;
		position: absolute;
		width: 115px;
		.trans4;
		overflow: visible;
		}
}
	@keyframes dashBig {
		to {
			stroke-dashoffset: 0;
			fill : #66c3d0;
			opacity: 1;
		}
	}
	@keyframes dashSmall {
		to {
			stroke-dashoffset: 0;
			fill : #66c3d0;
			opacity: 1;
		}
	}
	
	
.dash{
	animation: dash .6s forwards;
}
.removedash{
	animation: removedash .6s forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes removedash {
	from{
		stroke-dashoffset: 0;
	}
  to {
    stroke-dashoffset: 208;
  }
}
.small__ring{
	stroke:@w;
	stroke-dasharray: 873;
			stroke-dashoffset: 873;
			stroke-width: 4px;
}
.big__ring{
	stroke-dasharray: 2492;
	stroke-dashoffset: 0;
}
.cls-circle{
	stroke-dasharray: 208;
	stroke-dashoffset: 208;
	stroke:@bl;
	fill:none !important;
}

.order__wrapper{
	margin-bottom:100px !important;
	padding:@m2 @m4;
	.basket__btn__div{
		margin-bottom:100px !important;
	}
	.svg__catalog__btn{
		transform: translate(-47%, -18%);
	}
	.basket__btn__div .basketbtnborder{
		width: 130px !important;
	}
	.giraffe{
		.cls-1{
			stroke-width: 2px !important;
		}
	}
}
.order__h1{
	.w100;
	align-items: flex-start;
	.between;
	
	svg{
		width: 50px;
	}
}
.order__block{
	.arrow{
		width: 40px;
		&:first-child{
			transform: rotateZ(180deg);
		}
		.cls-1{
			fill:@bl;
			stroke-width: .3px !important;
		}
	}
	.column;
	label{
		transform: translateY(22px);
		.trans4;
	}
	input{
		z-index: 2;
		height: 25px;
		background:none;
	}
	h2, h3{
		.uppercase;
		text-align: center;
	}

	margin:0 auto;
	input{
		border:none;
	}
	.green__line{
		.cls-1{
			stroke:none !important;
		}	
	}
}
.error__sign{
	opacity: 0;
}
.delivery__type__choosing{
	.flex;
	align-items: baseline;
	justify-content: center;
	margin:0 @m1;
	h3{
		margin:0 @m;
		font-size: 16px;
	}
}
.order__type__h2{
	.flex;
	.between;
	align-items: baseline;
		margin: 0 auto @m;
		a{
			.uppercase;
		}
}
.order__data, .delivery__data{
	width: 50%;
	margin:0 auto @m2;
}
.delivery__pickup{
	display: none;
}
.current__size{
	.rel;
}
.other__sizes{
	 background: #66c3d0;
    border-radius: 10px;
    border: 1px dashed;
    z-index: 1;
		position: absolute;
		top:45px;
		padding: 10px;
		left:-10px;
		.fs;
		.w100;
		display: none;
		.active{
			color:@w;
		}
}

.showSizesBlock{
	display: block;
	animation: showSizesBlock .5s forwards;
}
@keyframes showSizesBlock{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.current__size__text{
	z-index:4;
	.rel;	
}
.item__quantity__div__back{
	.cls-1{
		fill:@mc;
	}
}
.about__block{
	align-items: baseline;
	.whale{
		width: 40px !important;
		margin-left:@m1;
	}
}

.about__delivery__popup{
	position: fixed;
	left:-1000px;
	top:10%;
	background-color:@w;
	min-height: 70vh;
	padding:@m2;
	width: 40vw;
	z-index: 4;
}
.showPopUp{
	animation:showPopUp .7s forwards ease-in;
}
@keyframes showPopUp{
	70%{
		left:20px;
	}
	80%{
		left:-10px;
	}
	90%{
		left:10px;
	}
	100%{
		left:0;
	}
}

.block{
	flex:1;
	.slider-for-item-card{
		.w100;
		img{
			.w100;
			margin-bottom:@m1;
		}
	}
	.slider-nav-item-card{
		.w100;
		img{
			margin:0 5px;
		}
	}
}
.slider-for-item-card{
	width: 400px;
}

.item__slider__arrows{
	margin-top:@m1;
	.between;
	div{
		width: 60px;
		transform: translateX(20px);
		&:first-child{
			transform: translateX(-20px);
		}
	}
}
.prev__item__card{
	.arrow{
		transform: rotateZ(180deg);
	}
}
.checking__order__block{
	margin-top:@m3;
}
.checking__order__block__sign{
	.between;
	.lamb{
		width: 50px;
	}
	h2{
		.uppercase;
		.f15;
		margin-bottom:5px;
	}
	div{
		.column;
		.green__line{
			margin-bottom:5px;
			.cls-1{
				fill:@red !important;
			}
		}	
	}
}
.checking__order{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap:@m2 @m;
	padding-top:@m;
}
.order__item{
	img{
		.w100;
	}
	span, p{
		.fs;
	}
	.order__price{
		.f;
		color:@blue;
	}
}
.order__item__name, .order__item__quantity{
	margin-bottom:5px;
}
.order__item__size{
	margin-bottom: -5px;
}
.order__btn{
	.f !important;
}
.payment__type__p, .delivery__type__p{
	.uppercase;
}

.menu__btn{
	width: 40px !important;
	margin-left:@m1;
	.cls-2 {
		fill: #ffffff;
		stroke:none;
	}	
	circle{
		fill:@mc;
		
	}
	.lower__stick, .higher__stick{
		z-index:2;
	}
	.smaller__circle{
		fill:@mc;
		.trans4;
		
	}
}
.w{
	fill:@w !important;
}
.move__stick{
	fill:@mc !important;
			transform: rotateZ(45deg);
			transform-origin: center;
}

.bigger__circle{
	fill:@mc;
}	

.sliding__menu{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top:0;
	left:100vw;
	background:@mc;
	z-index:5;
	.basket__delete__btn{
		width: @m2;
		float:right;
	}
}
.sliding__menu__wrapper{
	margin:@m2;
}
.sliding__menu__animation{
	animation: sliding__menu__animation .5s forwards ease-in;
}
.sliding__menu__animation__hide{
	animation: sliding__menu__animation__hide .3s forwards ease-out;
}
@keyframes sliding__menu__animation{
	60%{
		left:90vw;
	}
	100%{
		left:0;
	}
}

@keyframes sliding__menu__animation__hide{
	from{
		left:0;
	}
	to{
		left:100vw;
	}
}
// svg styles
.heart{
	.cls-1{
		fill:@red;
	}
}
header{
	.heart{
		.cls-1{
			fill:@w;
		}
	}
}

.cls-n{
	fill:none;
}
.giraffe, .whale{
	.cls-1{fill:#485a83;}
	.cls-2{fill:#5f6f93;}
}